.shop-container {
    display: grid;
    grid-template-columns: 3fr 1fr;

}

.products-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 45px;
    padding: 50px 100px 50px 100px;


}

.cart-container {
    background: rgba(255, 153, 0, 0.3);
}

.pagination {
    padding: 50px 100px 50px 100px;
}

.pagination button {
    margin-right: 10px;
    padding: 10px 13px;
    font-size: 20px;
    font-weight: 600;
    color: rgb(108, 98, 98);
    background-color: white;
    border: 1px solid #d9a455;
    border-radius: 8px;
}

.pagination .selected {
    background-color: #FFE0B3;
    color: rgb(183, 68, 68);
    border: 1px solid rgba(116, 115, 115, 0.69);
}

.option {
    margin-right: 10px;
    padding: 10px 2px;
    font-size: 20px;
    font-weight: 600;
    color: rgb(108, 98, 98);
    background-color: white;
    border: 1px solid #d9a455;
    border-radius: 8px;
}
.option:focus{
    outline: none;
}






@media screen and (max-width:1840px) {
    .products-container {
        grid-template-columns: repeat(4, 1fr);
        padding: 50px;
    }
}

@media screen and (max-width:1600px) {
    .products-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width:1520px) {
    .shop-container {
        grid-template-columns: 2fr 1fr;
    }

    .products-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width:1660px) {
    .products-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width:1090px) {
    .products-container {
        grid-template-columns: repeat(2, 1fr);
        padding: 50px 50px 50px 50px;
    }
}